<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>487194288285-a3a5ngif0v17fcls4qp34es5agn7n69j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487194288285-a3a5ngif0v17fcls4qp34es5agn7n69j</string>
	<key>API_KEY</key>
	<string>AIzaSyBMho2YmyTj-Ub5Pkhhp_4QACjVnKe7KkI</string>
	<key>GCM_SENDER_ID</key>
	<string>487194288285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Appzorro.FollowerIntegration</string>
	<key>PROJECT_ID</key>
	<string>followersintegration</string>
	<key>STORAGE_BUCKET</key>
	<string>followersintegration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487194288285:ios:24f973b8c90e980c</string>
	<key>DATABASE_URL</key>
	<string>https://followersintegration.firebaseio.com</string>
</dict>
</plist>